{% extends 'base.html' %}
{% load static %}
{% block title %}Forgot Password{% endblock %}

{% block content %}  
   {% include 'includes/header2.html' %}

   <div class="rl-container">
  <div class="pricing-container" style="display: flex; justify-content:center; flex-direction:column; align-items:center">
     <div class="sec-title text-center mb-55 md-mb-30">
         <h2 class="title title2" style="font-size:16px;">
             Enter Your Email Address To Change Your Reset Your Password
         </h2>
         {% include 'includes/alert.html' %}
     </div>
     <div class="register-form" style="max-width: 400px;">
      <form action="{% url 'forgotPassword' %}" method="POST" class="form">

        {% csrf_token %}
        <div class="form-group-item">
          <input type="email" id="email" class="input" name="email" value="" placeholder="E-mail" required style="width: 100%;">
        </div>
				
				<div class="form-group-item" style="display: flex; justify-content: center; align-items:center;">
          <button type="submit" class="btn">Forgot Password</button>
        </div>
				

          <div style="display: flex; justify-content:space-between; margin-top:10px;">
            <label> <a class="forget" href="{% url 'login' %}" style="color:blue;">Login</a> </label>
            <label>Don't have an <a style="color:blue;" href="{% url 'register' %}" title="forget"> Account?</a> </label>
          </div>
      </form>
  </div>
  </div>
</div>

<style>
  header .topbar-area{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
  }
  .top-container{
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
  .register-header-logo{
    width: 120px;
  }
  .register-form{
    width: 80%;
  }
  .register-form .input,
  .register-form select{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 8px;
  }
  .check{
    width: 30px;
  }
  .form-group-item{
    width: 100%;
    position: relative;
    padding: 0;
    margin-top: 10px;
  }
  
  .form-group-item i{
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 1%;
  }
  .form-group-item button{
    border: none;
    background: #015ec5;
    color: #015ec5;
    color: white;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
  }
</style>

 <!-- Footer Start -->
 {% include 'includes/footer.html' %}
 <!-- Footer End -->
{% endblock %}