{% extends 'accounts/dashboardpages/dashbase.html' %}
{% load static %}
{% block title %}InfiniteFx - Dashboard{% endblock %}
{% block content %}

 <!-- Account balance  -->
 {% include 'includes/alert.html' %}
 <div class="header-item">
  <div class="account-info">
    <h3>Balance</h3>
    <p><span>$2030 </span> <img src="{% static 'assets/image/dashboard/timer.png' %}" class="timer"> Updated: now</p>
    <a href="#" class="cashout">Withdraw</a>
  </div>
  <div class="account-info">
    <h3>Earning</h3>
    <p><span>$30 </span><img src="{% static 'assets/image/dashboard/timer.png' %}" class="timer"> Updated: now</p>
  </div>
 </div>

 <div class="transaction-history">
  <h2>Transctions</h2>
    <div class="transaction-details">
      
      <div class="deposit">
        <h3>Deposit History</h3>
        {% for item in deposit %}
          <div class="deposit-details">
            <p>Amount: <span>${{item.amount}}</span></p>
            <p>Date: <span>{{item.created_at}}</span></p>
            <p>Status: <span>{{item.status}}</span></p>
          </div>
        {% endfor %}
      </div>
      <div class="deposit">
        <h3>Withdrawal History</h3>
        <div class="deposit-details">
          <p>Amount: <span>$100</span></p>
          <p>Date: <span>20/1/2023</span></p>
          <p>Status: <span>Pending</span></p>
        </div>
      </div>
    </div>
 </div>


{% endblock %}