{% extends 'accounts/dashboardpages/dashbase.html' %}
{% load static %}
{% block title %}InfiniteFx - Dashboard{% endblock %}
{% block content %}

 <!-- Account balance  -->
 {% include 'includes/alert.html' %}
 <div class="header-item">
  <div class="account-info">
    <h3>Balance</h3>
    <p><span>${{ userprofile.account_balance }} </span> <img src="{% static 'assets/image/dashboard/timer.png' %}" class="timer"> Updated: now</p>
    <a href="{% url 'withdraw' %}" class="cashout">Withdraw</a>
  </div>
  <div class="account-info">
    <h3>Earning

      <span><img src="{% static 'assets/image/dashboard/info-circle.png' %}" alt=""></span>
      <p class="pop-info">Earning are credited to balance after Investment Period Have Elapsed</p>
    </h3>
    
    <p><span>${{userprofile.earning}} </span><img src="{% static 'assets/image/dashboard/timer.png' %}" class="timer"> Updated: now</p>
    <a href="{% url 'investment' %}" class="cashout">View More</a>
  </div>
 </div>

 <div class="transaction-history">
  <h2>Transctions</h2>
    <div class="transaction-details">
      
      <div class="deposit">
        <h3>Deposit History</h3>
        {% for item in deposit %}
          <div class="deposit-details">
            <p>Amount: <span>${{item.amount}}</span></p>
            <p>Date: <span>{{item.created_at}}</span></p>
            <p>Status: <span>{{item.status}}</span></p>
          </div>
        {% endfor %}
      </div>
      <div class="deposit">
        <h3>Withdrawal History</h3>
        {% for item in withdrawal %}
        <div class="deposit-details">
          <p>Amount: <span>${{item.amount}}</span></p>
          <p>Date: <span>{{item.status}}</span></p>
          <p>Status: <span>{{item.created_at}}</span></p>
        </div>
        {% endfor %}
      </div>
    </div>
 </div>


{% endblock %}