{% extends 'accounts/dashboardpages/dashbase.html' %}
{% load static %}
{% block title %}InfiniteFx - Withdraw{% endblock %}
{% block content %}


<div class="withdraw-conatiner">
  <h3>Withdraw Fund:</h3>
  <div class="acc-detail">
    <div class="acc-balance">
      <p class="acc-title">Account Balance</p>
      <p class="acc-amount"><span>$0.00</span> <img src="{% static 'assets/image/dashboard/timer.png' %}"> Updated Now</p>
      <p class="acc-info">Your account balance</p>
    </div>
    <div class="acc-balance">
      <p class="acc-title">Pending withdrawal</p>
      <p class="acc-amount"><span>$0.00</span><img src="{% static 'assets/image/dashboard/timer.png' %}"> Updated Now</p>
      <p class="acc-info">Your pending withdrawal</p>
    </div>
  </div>
  <div class="withdrawal-detail">
    <label for="w-amount">Amount:</label>
    <input type="number" name="w-amount" id="w-amount" class="w-amount">
    <div class="acc-btn">
      <button type="submit" class="w-btn">Request withdrawal</button>
    </div>
    
  </div>
</div>


{% endblock %}