{%  load static  %}
<!-- chat bubble  -->
<div id="chat" class="chat-box">

    <div id="chat_icon">
        <button id="chat_open">
            <img src="{% static 'assets/image/messenger.png' %}" alt="">
        </button>
    </div>

    <div id="chat_option" class="hidden" style="display: flex; justify-content:center; align-items:center">
        <div class="email">
            <h6>Send Email</h6>
            <img src="{% static 'assets/image/mail.png' %}" alt="">
        </div>
        {% comment %}
        <div class="live-chat">
            <h6>Live Chat</h6>
            <img src="{% static 'assets/image/messenger.png' %}" alt="">
        </div>
        {% endcomment %}
    </div>

    <div id="chat_welcome" class="hidden">
        <input type="text" name="namechat" id="chat_name" placeholder="Your Name..." required>
        <button id="chat_join" >Join Chat</button>
    </div>
    <div id="send-email" class="hidden">
        <input type="text" name="name" id="chat_name" placeholder="Your Name...">
        <input type="text" name="subject" id="chat_name"  placeholder="Subject...">
        <textarea name="message" id="" cols="30" rows="3" placeholder="Write..."></textarea>
        <button id="chat_join">Send Message</button>
    </div>

    <div id="chat_room" class="hidden">
        <div id="chat_log" class=" chat_log">
          <p>Welcome to our chat! Please type your message and wait for an agent to join...</p>
        </div>
        
        <input type="text" name="body" id="chat_message_input"  placeholder="Type your message...">
        <button id="chat_message_submit" class="">Send</button>
    </div>

    
</div>
<script>
        
    $(document).on('submit', '#chat-form', function(e){
        e.preventDefault()
        $('#chat-send').text('Sending...')

        $.ajax({
            type : 'POST',
            url : "{% url 'contact' %}",
            data : {
                name:$('#name').val(),
                email:$('#email').val(),
                subject:$('#subject').val(),
                message:$('#message').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(data){
                $('#form-alert').text(data);
                $('#name').val('');
                $('#email').val('');
                $('#subject').val('');
                $('#message').val('');
            }
        });
    });

</script>
