{% load static %}

<!-- partners sections -->
<div class="partners-containers">
  <div class="logos">
    <div class="logo-slide">
      <img src="{% static 'assets/image/partners/airtm.png' %}">
      <img src="{% static 'assets/image/partners/cusdc.jpeg' %}">
      <img src="{% static 'assets/image/partners/Payeer.png' %}">
      <img src="{% static 'assets/image/partners/Ethereum.jpeg' %}">
      <img src="{% static 'assets/image/partners/MasterCard.png' %}">
      <img src="{% static 'assets/image/partners/Litecoin.jpeg' %}">
      <img src="{% static 'assets/image/partners/Netflix.png' %}">
      <img src="{% static 'assets/image/partners/airtm.png' %}">
      <img src="{% static 'assets/image/partners/cusdc.jpeg' %}">
      <img src="{% static 'assets/image/partners/Payeer.png' %}">
      <img src="{% static 'assets/image/partners/Ethereum.jpeg' %}">
      <img src="{% static 'assets/image/partners/MasterCard.png' %}">
      <img src="{% static 'assets/image/partners/Litecoin.jpeg' %}">
      <img src="{% static 'assets/image/partners/Netflix.png' %}">
    </div>
  </div>
</div>  
