*{
  margin:0;
  padding:0;
}
/* contact page start  */
.img1{
  background: url(image/breadcrumbs/inr_8.jpg);
}
.breadcrumbs {
  height: 600px;
  background-repeat: no-repeat !important;
  /* background-size: cover !important; */
  background-size: 100% 100%;
  background-position: center center !important;
}
.breadcrumbs-container{
  width:100%;
  height: 600px;
  background:red;
}
.breadcrumbs{
  width:100%;
  height: 600px;
  color:#fff;
  position:relative;
}
.breadcrumbs img{
  width:100%;
  height:100%;
}
.contact-details{
  position:absolute;
  top:65%;
  left:5%;
  right:20%;
  padding: 0 20px;
}
.contact-title{
  font-size:35px;
  position:relative;
}
.contact-title:before{
  position:absolute;
  content:"";
  top: -10px;
  background-color: #015ec5;
  height: 8px;
  width: 80px;
  top: -8px;
  right: 0;
  left: 0;
  z-index: 0;
}
.watermark{
  position:absolute;
  top:50%;
  left:5%;
  right:20%;
  font-size: 200px;
  font-weight:700;
  text-transform: uppercase;
  color: inherit;
  opacity: 0.1;
  position: absolute;
  /* bottom: -30px; */

}


/* .breadcrumbs-inner{
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
}
.page-title{
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: -360px;
  padding: 0 20px;
}
.contact-title{
  position: relative;
  font-size: 50px;
}
.contact-title:before{
  position: absolute;
  content: "";
  background-color: #015ec5;
  height: 8px;
  width: 80px;
  top: -8px;
  right: 0;
  left: 0;
  z-index: 0;
}

.watermark{
  font-size: 200px;
  font-weight: 700;
  text-transform: uppercase;
  color: inherit;
  opacity: 0.1;
  position: absolute;
  bottom: -400px;
} */

.address-container{
  background-color: #f2f2f2;
  padding: 60px 6%;
  width: 100%;
}
.address-item{
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
.address-items-left,
.address-items-right{
  flex-basis: 50%;
}
.address-items-left{
  background-color: #fff;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.address-items-left h2{
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 20px;
}
.address-items-left h2:before{
  content: "";
  background: #015ec5;
  height: 4px;
  width: 48px;
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
}
.address-link{
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 0;
}
.address-icon{
  width: 40px;
  margin-right: 8px;
}

.form-container{
  padding: 40px 8%;
  border-bottom: 1px solid #2f2f2f;
}
.form-items{
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 10px;
}
.form-item-left{
  flex-basis: 50%;
}
.form-item-left img{
  object-fit:cover;
  width:100%
}
.form-item-right{
  flex-basis: 50%;
  padding:10px 40px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.form{
  width: 100%;
}

.form.two{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  
}
.form input{
  width:100%;
  padding:10px;
  margin:10px 0;
  border: 2px solid #2f2f2f;
  font-size:18px;
}
.form textarea{
  width:100%;
  padding:10px;
  margin:10px 0;
  border: 2px solid #2f2f2f;
  font-size:18px; 
}
.contact-form h2{
  font-size:30px;
  margin-bottom:30px;
  position:relative;
}
.contact-form h2:before{
  content:"";
  background:#015ec5;
  position:absolute;
  top: -10px;
  right:0;
  left:0;
  width:40px;
  height:4px;

}
.contact-form .btn{
  border:none;
  margin-top:10px;
}


